.App {
  text-align: center;
  height: 100vh;
  font-size: 12px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.leaflet-container {
  width: 80vw;
  height: 80vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 12px;
  max-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flexbox div {
  /* background: skyblue; */
  /* margin: 10px; */
  width: 100%;
  margin: 10px 0;
}

.flexbox {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexbox form {
  /* width: 50%; */
  padding: .5rem;
  border-radius: .5rem;
  min-width: 250px;
  max-width: 80%;
  background-color: #f5f5f5;  
  opacity: 0.9;
}

.formarea {
  display: flex;
  justify-content: space-between;
}

.formarea label {
  text-align: left; 
  /* 左寄せ */
  min-width: 100px;
}
.formarea input {
  min-width: 100px;
}
